@CHARSET "ISO-8859-1";

*{
	margin: 0px;
	padding: 0px;
	font-family: Candara, Helvetica, sans-serif;
}

div#topBar
{
	background-color: #4BACC6;
	text-align: center;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}

div#topText
{
	border-right-style: solid;
	border-right-color: white;
	border-width:1px;
}

div#appName
{
	
}

div#userName
{
	
}

div#closeGroup
{
	height: auto;
	font-size: 26px;
	vertical-align: middle;
}

div#actImg
{
	
}

div#actBrief
{
	margin-top: 15px;
}

#actDetail
{
	margin-top: 20px;
}

h3,
#actName
{
	margin-top: 2px;
	font-weight: bold;
	color: #4BACC6;
}

div#actTopic
{
	font-style: italic;
	color: #4BACC6;
}

div#actDescription
{
	text-align: justify;
}

#tasksIcon,
#tasksTitle,
#tasksText,
#stateName,
#stateIcon,
#stateDescription
{
	text-align: center;
}

#actTopic,
#tasksText,
#locationTitleAndText, 
#enableDateTitleAndText, 
#deliveryDateTitleAndText, 
#durationTitleAndText, 
#difficultyTitleAndText, 
#creatorTitleAndText
{
	border-bottom-style: solid;
	border-bottom-color: #4BACC6;
	border-bottom-width: 0.5px;
}

#locationTitleAndText,
#tasksTitle
{
	border-top-style: solid;
	border-top-color: #4BACC6;
	border-top-width: 0.5px;
}

.iconP
{
	font-size: 27px;
}

.titleP
{

	font-weight: bold;
}

#stateName
{
	margin-top: 15px;
	padding-top: 5px;
	font-size: 24px;
	font-weight: bold;
	background-color: gold;
	border-style: solid;
	border-color: dimgray;
	border-bottom: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#stateIcon
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-size: 24px;
	font-weight: bold;
	background-color: gold;
	border-style: solid;
	border-color: dimgray;
	border-top: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#stateDescription
{
	font-style: italic;
	color: grey;
}

div#buttonGroup
{
	margin-top: 30px;
	text-align: center;
}
