/* Each activity in the activities List*/
.activities .activityContainer, .activityCardContainer{
    
     
    padding: 20px;
    margin-top: 15px;
    
    background-color: yellowgreen;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;	
}

.activityRow{
   
}


