a.plain:link
{ color: #333; text-decoration: none }
a.plain:active
{ color: #333; text-decoration: none }
a.plain:visited
{ color: #333; text-decoration: none }
a.plain:hover
{ color: #333; text-decoration: none }

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.brand{
    color: white!important;
}
body{
    padding: 10px!important;
}

/* Applied to a element when it's shown on the background of an overlay'*/
.overlayBackground{
    opacity: 0.4;
}