/* 
    Document   : currentTask
    Created on : 02-oct-2013, 11:54:57
    Author     : Tali
    Description:
        Purpose of the stylesheet follows.
*/

#helpText
{
    margin-top: 60px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: white;
    text-shadow: black 0.2em 0.2em 0.3em;
}

#helpIconFlag
{
    height: 3em;
    line-height: 3em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,0,0,0.5);
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em; 
}

#helpDescriptionContainer
{
    position: relative;
    height: 3em;
    padding: 0px 5px 0px 5px;
    overflow: hidden;
}

#helpDescription
{ 
    position: absolute;
    left: -100%;
    height: 3em;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(255,0,0,0.5);
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    -webkit-animation: slide 1.25s forwards;
    animation: slide 1.25s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

#helpTime
{
    height: 3em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255,0,0,0.5);
    border-radius: 1.5em;
}

#time
{
    font-weight: bold;
}

#taskID
{
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3.25em;
    margin-top: -3.25em;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    color: #4BACC6;
    font-weight: bold;
    text-align: center;
    text-shadow: black 0.2em 0.2em 0.3em;
}

#taskNumber
{

}

#taskName
{
    font-size: 1.25em;
    text-transform: uppercase;
    white-space: nowrap;
}

#radar
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    line-height: 2em;
    margin-left: -2.5em;
    margin-right: auto;
    padding: 0;
    text-align: center;
    background-color: yellow;
    border-radius: 2.5em;
    border: 1px solid black;
    box-shadow: 2px 5px 10px black;
}

#radar:active
{
    box-shadow: none;
    transform: scale(.99,.99);
    -ms-transform: scale(.99,.99);
    -webkit-transform: scale(.99,.99);
}

#radar > img
{
    display: block;
    margin: auto;
    width: 3.25em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#tip
{
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3.25em;
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0 15px;
    /*color: yellow;*/
    color: blue;
    font-weight: bold;
    text-align: center;
    /*text-shadow: black 0.2em 0.2em 0.3em;*/
    font-size: x-large;
}

ol.questionsList
{
    font-size: 1.2em;
    font-weight: bold;
    list-style: lower-latin;
    margin-left: 1.85em;
}

.btnT.active, .btnF.active
{
    background-color: #449D44;
    border-color: #419641;
    color: #FFFFFF;
    text-shadow: none;
}

#bottomBar
{
    position: fixed;
    left: 0px;
    z-index: 998;
    top: 100%;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    height: 50px;
    width: 100%;
    text-align: center;
}

#prevTaskButton
{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: #4BACC6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 10px black;
}
#prevTaskButton:active
{
    box-shadow: none;
    transform: scale(.99,.99);
    -ms-transform: scale(.99,.99);
    -webkit-transform: scale(.99,.99);
}

#bottomBarCenterButton
{
    height: 50px;
    background-color: #4BACC6;
    box-shadow: 3px 3px 10px black;
}

#bottomBarCenterButton:active
{
    box-shadow: none;
    transform: scale(.99,.99);
    -ms-transform: scale(.99,.99);
    -webkit-transform: scale(.99,.99);
}

#activityNameBottomBar
{
    line-height: 35px;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
}

#taskListBottomBar
{
    font-style: italic;
    line-height: 10px;
    font-size: .75em;
    white-space: nowrap;
}

#nextTaskButton
{
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    background-color: #4BACC6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

#nextTaskButton:active
{
    box-shadow: none;
    transform: scale(.99,.99);
    -ms-transform: scale(.99,.99);
    -webkit-transform: scale(.99,.99);
}