/* 
    Document   : tasks
    Created on : 01-oct-2013, 11:05:12
    Author     : Tali
    Description:
        Purpose of the stylesheet follows.
*/

#actCreator
{
    margin-top: 5px;
}

#helpTextT
{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    background-color: gainsboro;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#helpTitleT
{
    font-size: 1.75em;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

#helpDescriptionT
{
    margin-right: auto;
    margin-left: auto;
    font-style: italic;
    font-size: .85em;
}

#tasksTable
{
    margin-right: 5px;
    margin-left: 5px;
}

.tableTaskRow, .isAnsweredfalse
{
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    background-color: grey;
    color: gainsboro;
    line-height: 3em;
    font-size: 1.25em;
    font-weight: bold;
    white-space: nowrap;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 4px;
}

.tableTaskRow:active
{
    transform: scale(.98,.98);
    -webkit-transform: scale(.98,.98);
    -ms-transform: scale(.98,.98);
}


.isAnsweredtrue
{
    background-color: gainsboro;
    color: black;
}

.isAnsweredtrueIcon
{
    color: #5CB85C;
}

.isAnsweredfalseIcon
{
    
}

.taskNumberInList
{
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.taskNameInList
{
    padding-right: 5px;
    padding-left: 5px;
}

.taskStatusInList
{
    padding-right: 5px;
    padding-left: 0px;
    text-align: right;
    font-size: 1.5em;
}

