.tasks .taskContainer{

    padding: 20px;
    margin-top: 15px;

    background-color: sandybrown;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.taskRow{

}

.questionsContainer{
    border-top: 1px solid #eee;
    margin-top: 25px;
}

.question{
    margin-top: 10px;
}


/* Task View*/


.taskContainer .taskMainContainer{
    padding: 20px;
    font-weight: bold;
    font-size: large;
}

.taskContainer .taskHeader{

}



.taskContainer .taskRadar{
    text-align: center;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    background-color: sandybrown;
    margin-bottom: 20px;
}

.taskContainer .compassArrow{
    
    margin: 30px 48%;
    
    width: 40px;
    height: 80px;
}

.taskContainer .compassArrow img{
    width: 100%;
    height: 100%;
}

.taskContainer .distanceIndicator{
    font-size: larger;
}

.taskContainer .proximityText{
    margin-top: 40px;
    color: blue;
    font-size: large;
    font-weight: bold;
    
    /*xxx*/
    /*margin-bottom: 40px;*/
}

.taskContainer .questionsOverlay{
    display: none;
    z-index: 10;
    
    border: 2px blue solid;
    border-radius: 10px;
    padding: 20px;
    
    position: absolute;
    top: 200px;
    width: 90%;
    left: 5%;
    
    background-color: white;
}

.taskContainer .taskHeader{
    font-weight: bold;
    text-align: center;
}

.taskContainer .taskTitle{
    background-color: steelblue;
    border-radius: 20px 20px 0px 0px;
    color: white;
    font-size: larger;
    height: auto;
    
    text-align: center;
    
    font-weight: bold;
    margin-top: 40px;
}