.tasks .taskContainer{
    
    padding: 20px;
    margin-top: 15px;
    
    background-color: sandybrown;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.taskRow{
    
}

.questionsContainer{
    border-top: 1px solid #eee;
    margin-top: 25px;
}

.question{
    margin-top: 10px;
}