<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "es.uniovi.educapp"
        version   = "1.0.0">
    <name>Educapp Backbone</name>

    <author href="http://www.uniovi.es" email="">
        Universidad de Oviedo. Gayol - Durán
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <preference name="load-url-timeout" value="500000" />
        
    <icon src="icons/uniovi_57px.png" width="57" height="57" />
    <!--<icon src="icons/uniovi.png" width="72" height="72" />-->
    <plugin name="Geolocation" value="CDVLocation" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <!--Allow access from any url--> 
    <access origin="*" />
    
</widget>