/* 
    Document   : inicio
    Created on : 09-nov-2013, 11:53:40
    Author     : Tali
    Description:
        Purpose of the stylesheet follows.
*/

#backButton
{
    margin: 5px;
}

#headingInCorrection
{
    margin-top: 0px;
    padding: 5px;
}

#actBriefInCorrection
{
    
}

#actImgInCorrectionContainer
{
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    color: grey;
}

#actImgInCorrection
{
    height: 64px;
    width: 64px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
    font-style: italic;
    color: grey;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}

#actImgInCorrection:active
{
    transform: scale(.99,.99);
    -webkit-transform: scale(.99,.99);
    -ms-transform: scale(.99,.99);
    box-shadow: none;
}

#actNameInCorrection
{
    margin: 0px 5px 10px 0px;
    font-size: 2em;
    font-weight: bold;
    color: #4BACC6;
}

.attributesCol
{
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.actAttributesInCorrection
{
    margin: auto;
    font-size: 1.15em;
    display: inline;
}

.courseIcon
{
    color: sienna;
}

.locationIcon
{
    color: tomato;
}

.initDateIcon
{
    color: limegreen;
}

.deliveryDateIcon
{
    color: sandybrown;
}

.difficultyIcon
{
    color: cadetblue;
}

#userNameInCorrectionReport
{
    margin: 25px 0px 15px 10px;
    font-size: 1.75em;
    font-weight: bold;
}

#conclusionsInCorrectionReport
{
    margin-bottom: 20px;
    padding: 0px 40px 0px 40px;
}

#userTasksList
{
    padding: 0;
}

.panel-heading > a
{
    color: inherit;
    text-decoration: none;
}

.numQuestions
{
    margin: 5px;
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: bold;
}

.taskGrade
{
    margin: 5px;
    padding: 3px 5px;
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    background-color: #BCE8F1;
    border: 1px solid #3A87AD;
    border-radius: 5px;
}

.questionGroup
{
    
}

.questionGradeInHeading
{
    width: 20px;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 8px;
    display: inline-block;
}

.questionWording
{
    padding: 5px;
    font-weight: bold;
}

.questionAnswerGroup
{
    
}

.questionUserAnswerGroup,
.questionCorrectAnswerGroup,
.questionRevisedAnswerGroup
{
    margin-top: 5px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

.answerGroupHelp
{
    width: 100%;
    margin-bottom: 15px;
    margin-top: -5px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
    color: grey;
    border-bottom: 1px dashed grey;
    /*border-style: inset dashed;*/
}

.questionGrade
{
    font-family: sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight: bold;
}

.questionCorrectAnswerGroup > button,
.questionRevisedAnswerGroup > button
{
    margin: 10px auto auto auto;
    display: block;
}

.questionCorrectAnswer
{
    font-weight: bold;
}

.questionRevisedAnswerGroup
{
    text-align: center;
    font-weight: bold;
}

.pass
{
    background-color: limegreen;
}

.noPass
{
    background-color: tomato;
}

.pending
{
    background-color: gold;
}

.noPending
{
    background-color: transparent;
}

.userAnswerBG
{
    background-color: palegoldenrod;
}

.correctAnswerBG
{
    background-color: #c9e2b3;
}

.revisedAnswerBG
{
    background-color: lightblue;
}


