/* 
    Document   : inicio
    Created on : 09-nov-2013, 11:53:40
    Author     : Tali
    Description:
        Purpose of the stylesheet follows.
*/

#backButton
{
    margin: 5px;
}

#actBriefInCard
{
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

#actImgInCard
{
    padding: 0 10px 5px 0px;
}

#actImgInCard > img
{
    margin: 5px auto 10px auto;
    box-shadow: 2px 2px 5px black;
}

#actImgInCard > img:active
{
    transform: scale(.99,.99);
    -webkit-transform: scale(.99,.99);
    -ms-transform: scale(.99,.99);
    box-shadow: none;
}

#actNameInCard
{
    margin: 0px 5px 10px 0px;
    font-size: 2em;
    font-weight: bold;
    color: #4BACC6;
}

#actCourseInCard,
#actLocationInCard,
#actCreatorInCard
{
    margin: auto;
    font-size: 1.15em;
    display: inline;
}

#actCourseInCard > span
{
    color: sienna;
}

#actLocationInCard > span
{
    color: tomato;
}

#actDescriptionInCard
{
    margin-top: 15px;
    padding-top: 15px;
    text-align: justify;
    border-top: 1px solid lightgrey;
}

#statusFieldInCard
{
    
}

#statusInCard
{
    height: 60px;
    width: 130px;
    text-align: center;
    margin: auto;
    line-height: 60px;
    font-size: 1.25em;
    font-weight: bold;
    background-color: sandybrown;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;   
    box-shadow: 3px 3px 6px grey;
}

#statusInCard:active
{
    transform: scale(.98,.98);
    -webkit-transform: scale(.98,.98);
    -ms-transform: scale(.98,.98);
    box-shadow: none;
}

#statusDateInCard
{
    margin-top: 10px;
    text-align: center;
    color: grey;
}

#buttonGroup
{
    width: 75%;
    margin: 25px auto 20px auto;
    padding: 10px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.optionBtn
{
    width: 40%;
    margin: 5px;
}

.tooltipBtn
{
    padding: 5px;
}

#actAttributesInCard,
#actInfoInCard
{
    margin-right: auto;
    margin-left: auto;
}

.panel-title
{
    padding: 10px;
}

.panel-title > span
{
    float: right;
}

.panel-body
{
    padding: 10px;
}

.panel-footer
{
    padding: 5px 10px 5px 10px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    font-size: .85em;
}