/* 
    Document   : inicio
    Created on : 09-nov-2013, 11:53:40
    Author     : Tali
    Description:
        Purpose of the stylesheet follows.
*/

.jumbotron
{
    background-color: aliceblue;
    border: 1px solid lightgrey;
}

h1
{
    font-family: inherit;
    font-weight: bold;
}

#downloadApp
{
    float: right;
    font-size: .65em;
    text-align: center;
}