<!--
<% if(typeof isAnswered !== 'undefined') {

var state = 'Realizada';
var stateClass = 'done';
}
else{
var state = 'Sin realizar'; 
var stateClass = 'notDone';
}
-->



<a href="#tasks/<%= __taskId %>"><div class="name"><h3><%= name %></h3></div></a>
<div class="description"><%= description %></div>
<div class="state">Estado: </div>

<div class="row" id="buttonGroup">
    <div class="col-xs-6 col-md-6"><a class="btn btn-primary btn-lg"  href="#tasks/<%= __taskId %>"><span class="glyphicon glyphicon-pencil"></span> Hacer tarea</a></div>
</div>


