<% con("en taskView tengo data"); con(data); %>
<div class="taskContainer">
    <div class="row" id="buttonGroup">
        <button id="btnViewNormal" class="btnView btn btn-default" onclick="app.taskController.changeView('normal')">Vista Normal</button>
        <button id="btnViewRadar" class="btnView btn btn-default" onclick="app.taskController.changeView('radar')">Vista Radar</button>
        <button id="btnViewQuestions" class="btnView btn btn-default" onclick="app.taskController.changeView('questions')">Vista Preguntas</button>
    </div>

    <div class="taskMainContainer">


        <div class="taskHeader">
            Sigue las instrucciones del radar para llegar a la tarea
        </div>

        <div class="taskTitle">
            Tarea: <%= data.name %>
        </div>

        <div class="taskRadar">
            <div class="compassArrow">
                <img src="img/compassArrow.png">
            </div>
            <div class="distanceIndicator">Calculando distancia...</div>
            <div class="headingIndicator"></div>
            <div class="proximityText">Aun estás lejos</div>
        </div>

        <div class="btn-toolbar">
            <button id='btnTaskPrev' type="button" class="btn btn-info btn-lg" onclick="app.taskController.goToTask('prev')"><span class="glyphicon glyphicon-chevron-left"></span> </button>
            <button type="button" class="btn btn-info btn-lg" onclick="app.taskController.goToTaskList()"><span class="glyphicon"></span> Listado</button>
            <button id='btnTaskNext' type="button" class="btn btn-info btn-lg" onclick="app.taskController.goToTask('next')"><span class="glyphicon glyphicon-chevron-right"></span> </button>
        </div>
    </div>

    <div class="questionsOverlay">
        <div><h3>Tarea Actual: <%= data.name %></h3></div>


        <div class="name" id="description"><%= data.description %></div>
        <h4>Preguntas:</h4>
        <div class="questionsContainer">

            <% for(var i in data.questionOpenGeo) { %>

            <div class="form-group question">
                <label for="user"><%= data.questionOpenGeo[i].title %></label>
                <textarea type="" rows="6" class="form-control answer" id="<%= data.questionOpenGeo[i].__questionOpenId%>" placeholder="">
                    <% if(typeof questionsUser[data.questionOpenGeo[i].__questionOpenId] !== 'undefined') { %> 
                        <%= questionsUser[data.questionOpenGeo[i].__questionOpenId].answer %>
                    <% } %>
                </textarea>
            </div>

            <% } %>

        </div>

        <button class="btn btn-default" onclick="app.taskController.saveTask( < %= data.__taskId % > )">Responder y guardar</button>
    </div>
</div>

