
<div class="taskContainer">

    <div class="taskMainContainer">

        <div class="taskHeader">
            Sigue las instrucciones del radar para llegar al lugar de la tarea
        </div>

        <div class="taskTitle">
            Tarea: <%= name %>
        </div>

        <div class="taskRadar">
            <div class="compassArrow">
                <img src="img/compassArrow.png">
            </div>
            <div class="distanceIndicator">Calculando distancia...</div>
            <div class="proximityText"></div>
        </div>

        <div class="btn-toolbar">
            <div class="col-xs-6 col-md-6"><button type="button" class="btn btn-info btn-lg" onclick="app.router.back()"><span class="glyphicon glyphicon-chevron-left"></span> Volver</button></div>
        </div>
    </div>

    <div class="questionsOverlay">
        <div><h3>Tarea Actual: <%= name %></h3></div>


        <div class="name" id="description"><%= description %></div>

        <div class="questionsContainer"><h4>Preguntas:</h4></div>

        <% for(var i in questionOpenGeo) { %>

        <div class="question"><%= questionOpenGeo[i].title %></div>


        <% } %>
    </div>
</div>


